<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <title>Hello Page</title>
</head>
<body> th:inline="text">
<header th:insert="fragments/header.html :: header"></header>
<h1>Hello ewfafasdfasdgasdg[[${test.name}]]!asdfgasdgasdgadgasdg</h1>
<div>
    <img src="/images/test.jpg"/>
    <h4 th:text="${helloMsg}">
        я тестовая страница
    </h4>
    <ul>
        <h1>Выражение с $</h1>
        <li>Name: <span th:text="${test.name}"></span></li>
        <li>Value: <span th:text="${test.value}"></span></li>
    </ul>
    <h1>Выражение с *</h1>
    <ul th:object="${test}">
        <li>Name: <span th:text="*{name}"></span></li>
        <li>Value: <span th:text="*{value}"></span></li>
    </ul>
    <h1>Выражение из Properties</h1>
    <h1 th:text="#{msg.hello}"></h1>
    <h1 th:text="#{${localePrefix} + '.msg.hello'}">Hello</h1>
    <h1 th:text="#{msg.hello.user(${test.name})}"></h1>

    <a th:href="@{/home}">Home</a>
    <a th:href="@{/messages(page=${page + 1})}">Messages</a>
    <a th:href="@{/users/{id}/profile(id=${test.value})}">Profile</a>
    <h1>Цикл</h1>
    <ul>
        <li th:each="item,i: ${testList}">
            <span th:text="${i.count}"></span>
            <span th:text="${item.name}"></span>
            <span th:text="${item.value}"></span>
        </li>
    </ul>


</div>

<div th:replace="fragments/footer.html :: footer"></div>
</body>
</html>